<html>
  <head>
    <title>Hacker Dojo Log</title>
    <link href="/static/style.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.scrollTo-1.4.2/jquery.scrollTo-min.js"></script>
  </head>
  <body>
    <div id="notificationPanel" style="display:none;">
      <div><input type="checkbox" id="emailNotification" onClick="updateEmailNotification();"/> Enable mail notifications</div>
      <div><input type="checkbox" id="notifyIoNotification" onClick="updateNotifyIoNotification();"/> Enable notify.io notifications</div>
    </div>
		<div id="top">
			{% if user %}
		 	  <span>
          <strong>{{user.email}}</strong> |
          <a href="/faq">F.A.Q.</a> |
          <a href="javascript:void(0);" onclick="toggleNotifications();">Notifications</a> |
          <a href="{{logout_url}}">Logout</a>
        </span>
			{% else %}
			  <span>
          <a style="font-weight: bold;" href="{{login_url}}">Login</a> |
          <a href="http://signup.hackerdojo.com/upgrade/needaccount">Need an account?</a>
        </span>
			{% endif %}
		</div>
    <div id="wrapper">
      <div id="header">
        <a href="http://log.hackerdojo.com"><img src="/static/dojo_icon.png" style="float: left;" /></a>
        <h1>Hacker Dojo</h1>
        <h2 style="font-size: x-large;">Log</h2>
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
  <script type="text/javascript">
    if("True" == "{{profile.emailNotification}}") $("#emailNotification")[0].checked=true;
    if("True" == "{{profile.notifyIoNotification}}") $("#notifyIoNotification")[0].checked=true;
    function updateEmailNotification(){
      $.post('/notifications/email',{enable: $("#emailNotification")[0].checked});
    }
    function updateNotifyIoNotification(){
      $.post('/notifications/notifyio',{enable: $("#notifyIoNotification")[0].checked});
    } 
    function toggleNotifications(){
      if($('#notificationPanel').css('display') == 'inline') {
        $('#notificationPanel').css('display', 'none')
      } else {
        $('#notificationPanel').css('display','inline')
      }
    }
  </script> 
  </body>
</html>
